.Weather {
  border: 1px solid #f3d7ca;
  padding: 16px;
  margin: 30px;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  color: #e6a4b4;
}
.Weather form {
  margin-bottom: 20px;
}
.Weather .form-control {
  border: 1px solid #e6a4b4;
}
.Weather h1 {
  font-size: 25px;
  line-height: 29px;
  margin: 20px 0 0 0;
  font-weight: 100;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
.Weather img {
  height: 64px;
  width: 64px;
  margin-bottom: 15px;
  display: inline-block;
}
.Weather .temperature {
  color: #c86b85;
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
}
.Weather .unit {
  color: #c86b85;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -34px;
  margin-left: 5px;
  line-height: 1;
}

.Weather .unit a {
  color: #6b3a47;
}

.Weather .btn {
  border: 1px solid #f3d7ca;
  color: #f3d7ca;
  background-color: #c86b85;
}

.Weather .btn:hover {
  border: 1px solid #c86b85;
  color: #c86b85;
  background-color: #f3d7ca;
}
